html{
    margin: 0;
    padding: 0;
}
body {
    margin: auto;
    overflow: hidden;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header {
    background-color: #1F2937;
    color: white;
    padding-bottom: 30px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    color: #e5e7eb;
}
ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
.topheader {
    display: flex;
    justify-content: space-around;
    
}

.headerlogo {
    align-self: center;
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
}

.headercontent {
    display: flex;
    margin: 60px;
    justify-content: center;
    align-items: center;
    gap: 40px;
    
}
.headertext {
    display: flex;
    flex-direction: column;
    flex: 0 0 300px
}

.title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}
button {
    display: flex;
    justify-content: center;
    width: 90px;
    padding: 5px;
    border-radius: 10px;
    background-color: #3882F6;
    color: #f9faf8;
}

.randominfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 60px;
    gap: 30px;
}

.randomtitle {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.randomimages {
    display: flex;
    gap: 30px;
}

.imgandtext {
    display: flex;
    flex-direction: column;
    gap:20px;
    width: 200px;
}
.random {
    border-radius: 10px;
}

.quotesection {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quotecontent {
    display: flex;
    flex-direction: column;
    margin-top: 60px ;
    margin-bottom: 60px;
    width: 650px;
    
}
.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}
.author {
    align-self: flex-end;
    padding-right: 25px;
    font-weight: 900;
    color: #1F2937;
    font-size: 20px;

}
.propaganda {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.prop {
    display: flex;
    width: 700px;
    background-color: #3882F6;
    border-radius: 10px;
    justify-content: space-around;
    color: #e5e7eb;
    padding-top: 30px;
    padding-bottom: 30px;
}
.propbutton{
    border: 2px solid #f9faf8;
}
.call{
    font-size: 20px;
    font-weight: 900;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #e5e7eb;
}